body {
  background-color: #f0f9f0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  border: 1px solid #194f92;
  padding: 10px;
  background-color: #4784ce;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 250ms ease;
}

button:hover {
  background-color: #3770b4;
}